<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Catán</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
    </head>
    <body class="p-3 bg-lightgray">
        <style>
            .hex {
                width: 9em;
                height: 9em;
                clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
                background-color: rgb(196, 198, 199);
            }

            .hex:hover {
                filter: brightness(130%);
                -webkit-filter: brightness(130%);
                -moz-filter: brightness(130%);
            }

            .hex-row {
                display: flex;
                justify-content: center;
                margin-bottom: -2em;
            }

            .hex-row-grid-3 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 0.3em;
            }

            .hex-row-grid-4 {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 0.3em;
            }

            .hex-row-grid-5 {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                column-gap: 0.3em;
            }

            .hex-row-grid-6 {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                column-gap: 0.3em;
            }

            .vertex {
                width: 9em;
                height: 2.6em;
                background-color: white;
                color: black;
                clip-path: circle(18%);
            }

            .edge-h {
                height: 2.6em;
                background-color: black;
                clip-path: polygon(97% 0, 100% 4%, 0 97%, 0 91%);
            }

            .mirror {
                transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
            }

            .edge-row-grid-3 {
                display: grid;
                grid-template-columns: repeat(3, 9em);
                column-gap: 0.3em;
            }

            .edge-row-grid-4 {
                display: grid;
                grid-template-columns: repeat(4, 9em);
                column-gap: 0.3em;
            }

            .edge-row-grid-5 {
                display: grid;
                grid-template-columns: repeat(5, 9em);
                column-gap: 0.3em;
            }

            .edge-row-grid-4-h {
                display: grid;
                grid-template-columns: repeat(4, 0.2em);
                column-gap: 9em;
                height: 4.5em;
            }

            .edge-row-grid-5-h {
                display: grid;
                grid-template-columns: repeat(5, 0.2em);
                column-gap: 9em;
                height: 4.5em;
            }

            .edge-row-grid-6-h {
                display: grid;
                grid-template-columns: repeat(6, 0.2em);
                column-gap: 9em;
                height: 4.5em;
            }

            .edge-v {
                background-color: black;
            }

            .bg-lightgray {
                background-color: rgb(226, 226, 226);
            }

            .bg-wood {
                background-color: #139439;
            }

            .bg-brick {
                background-color: #db5724;
            }

            .bg-sheep {
                background-color: #92b509;
            }

            .bg-weath {
                background-color: #f5bd2a;
            }

            .bg-rock {
                background-color: #a1a7a3;
            }

            .bg-desert {
                background-color: #d3cb8e;
            }

            .input-prob {
                width: 60px;
                text-align: center;
            }

            .vertex-selected {
                background-color: cyan;
            }

            .edge-selected {
                background-color: red;
            }
        </style>

        <div id="tablero">
            <div class="hex-row">
                <div class="hex-row-grid-3">
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-0">
                        <input type="text" class="input-prob" id="prob-0">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-1">
                        <input type="text" class="input-prob" id="prob-1">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-2">
                        <input type="text" class="input-prob" id="prob-2">
                    </div>
                </div>
            </div>

            <div class="hex-row">
                <div class="hex-row-grid-4">
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-3">
                        <input type="text" class="input-prob" id="prob-3">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-4">
                        <input type="text" class="input-prob" id="prob-4">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-5">
                        <input type="text" class="input-prob" id="prob-5">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-6">
                        <input type="text" class="input-prob" id="prob-6">
                    </div>
                </div>
            </div>

            <div class="hex-row">
                <div class="hex-row-grid-5">
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-7">
                        <input type="text" class="input-prob" id="prob-7">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-8">
                        <input type="text" class="input-prob" id="prob-8">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-9">
                        <input type="text" class="input-prob" id="prob-9">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-10">
                        <input type="text" class="input-prob" id="prob-10">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-11">
                        <input type="text" class="input-prob" id="prob-11">
                    </div>
                </div>
            </div>

            <div class="hex-row">
                <div class="hex-row-grid-4">
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-12">
                        <input type="text" class="input-prob" id="prob-12">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-13">
                        <input type="text" class="input-prob" id="prob-13">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-14">
                        <input type="text" class="input-prob" id="prob-14">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-15">
                        <input type="text" class="input-prob" id="prob-15">
                    </div>
                </div>
            </div>

            <div class="hex-row">
                <div class="hex-row-grid-3">
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-16">
                        <input type="text" class="input-prob" id="prob-16">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-17">
                        <input type="text" class="input-prob" id="prob-17">
                    </div>
                    <div class="hex d-flex justify-content-center align-items-center" id="resource-18">
                        <input type="text" class="input-prob" id="prob-18">
                    </div>
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 start-0 w-100" style="z-index: 10000; pointer-events: none;">
            <div class="d-flex justify-content-center">
                <div class="hex-row-grid-3">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-0">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-1">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-2">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.7em;">
                <div class="hex-row-grid-4">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-3">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-4">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-5">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-6">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2.2em;">
                <div class="hex-row-grid-4">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-7">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-8">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-9">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-10">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.7em;">
                <div class="hex-row-grid-5">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-11">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-12">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-13">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-14">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-15">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2.2em;">
                <div class="hex-row-grid-5">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-16">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-17">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-18">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-19">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-20">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.5em;">
                <div class="hex-row-grid-6">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-21">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-22">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-23">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-24">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-25">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-26">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2.6em;">
                <div class="hex-row-grid-6">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-27">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-28">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-29">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-30">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-31">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-32">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.7em;">
                <div class="hex-row-grid-5">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-33">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-34">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-35">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-36">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-37">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2.5em;">
                <div class="hex-row-grid-5">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-38">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-39">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-40">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-41">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-42">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.7em;">
                <div class="hex-row-grid-4">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-43">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-44">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-45">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-46">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 2.2em;">
                <div class="hex-row-grid-4">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-47">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-48">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-49">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-50">
                        <strong>0</strong>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.7em;">
                <div class="hex-row-grid-3">
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-51">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-52">
                        <strong>0</strong>
                    </div>
                    <div class="vertex d-flex align-items-center justify-content-center" id="vertex-53">
                        <strong>0</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-absolute top-0 start-0 w-100" style="z-index: 1000; pointer-events: none;">
            <div class="d-flex justify-content-center" style="margin-top: 0.9em;">
                <div class="edge-row-grid-3">
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-0"></div>
                        <div class="col edge-h mirror" id="edge-1"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-2"></div>
                        <div class="col edge-h mirror" id="edge-3"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-4"></div>
                        <div class="col edge-h mirror" id="edge-5"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.2em;">
                <div class="edge-row-grid-4-h">
                    <div class="edge-v" id="edge-6"></div>
                    <div class="edge-v" id="edge-7"></div>
                    <div class="edge-v" id="edge-8"></div>
                    <div class="edge-v" id="edge-9"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="edge-row-grid-4">
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-10"></div>
                        <div class="col edge-h mirror" id="edge-11"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-12"></div>
                        <div class="col edge-h mirror" id="edge-13"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-14"></div>
                        <div class="col edge-h mirror" id="edge-15"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-16"></div>
                        <div class="col edge-h mirror" id="edge-17"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.2em;">
                <div class="edge-row-grid-5-h">
                    <div class="edge-v" id="edge-18"></div>
                    <div class="edge-v" id="edge-19"></div>
                    <div class="edge-v" id="edge-20"></div>
                    <div class="edge-v" id="edge-21"></div>
                    <div class="edge-v" id="edge-22"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: 0.1em;">
                <div class="edge-row-grid-5">
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-23"></div>
                        <div class="col edge-h mirror" id="edge-24"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-25"></div>
                        <div class="col edge-h mirror" id="edge-26"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-27"></div>
                        <div class="col edge-h mirror" id="edge-28"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-29"></div>
                        <div class="col edge-h mirror" id="edge-30"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h" id="edge-31"></div>
                        <div class="col edge-h mirror" id="edge-32"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.2em;">
                <div class="edge-row-grid-6-h">
                    <div class="edge-v" id="edge-33"></div>
                    <div class="edge-v" id="edge-34"></div>
                    <div class="edge-v" id="edge-35"></div>
                    <div class="edge-v" id="edge-36"></div>
                    <div class="edge-v" id="edge-37"></div>
                    <div class="edge-v" id="edge-38"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="edge-row-grid-5">
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-39"></div>
                        <div class="col edge-h" id="edge-40"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-41"></div>
                        <div class="col edge-h" id="edge-42"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-43"></div>
                        <div class="col edge-h" id="edge-44"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-45"></div>
                        <div class="col edge-h" id="edge-46"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-47"></div>
                        <div class="col edge-h" id="edge-48"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.1em;">
                <div class="edge-row-grid-5-h">
                    <div class="edge-v" id="edge-49"></div>
                    <div class="edge-v" id="edge-50"></div>
                    <div class="edge-v" id="edge-51"></div>
                    <div class="edge-v" id="edge-52"></div>
                    <div class="edge-v" id="edge-53"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="edge-row-grid-4">
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-54"></div>
                        <div class="col edge-h" id="edge-55"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-56"></div>
                        <div class="col edge-h" id="edge-57"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-58"></div>
                        <div class="col edge-h" id="edge-59"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-60"></div>
                        <div class="col edge-h" id="edge-61"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center" style="margin-top: -0.1em;">
                <div class="edge-row-grid-4-h">
                    <div class="edge-v" id="edge-62"></div>
                    <div class="edge-v" id="edge-63"></div>
                    <div class="edge-v" id="edge-64"></div>
                    <div class="edge-v" id="edge-65"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="edge-row-grid-3">
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-66"></div>
                        <div class="col edge-h" id="edge-67"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-68"></div>
                        <div class="col edge-h" id="edge-69"></div>
                    </div>
                    <div class="row g-0">
                        <div class="col edge-h mirror" id="edge-70"></div>
                        <div class="col edge-h" id="edge-71"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow p-3 position-absolute bottom-0 end-0 me-2 mb-2" style="width: 18rem;">
            <p class="lead">Recursos</p>

            <div class="row mb-2">
                <div class="col d-grid">
                    <button class="btn btn-sm btn-outline-warning" id="load-early">Early</button>
                </div>
                <div class="col d-grid">
                    <button class="btn btn-sm btn-outline-info" id="load-late">Late</button>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label class="form-label">Madera</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-sm resource-value-input" value="1" min="0" resource="wood" id="resource-wood">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label class="form-label">Ladrillo</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-sm resource-value-input" value="1" min="0" resource="brick" id="resource-brick">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label class="form-label">Oveja</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-sm resource-value-input" value="1" min="0" resource="sheep" id="resource-sheep">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label class="form-label">Trigo</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-sm resource-value-input" value="1" min="0" resource="weath" id="resource-weath">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-2">
                <div class="col-3">
                    <label class="form-label">Roca</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control form-control-sm resource-value-input" value="1" min="0" resource="rock" id="resource-rock">
                </div>
            </div>

            <div class="d-grid">
                <button class="btn btn-sm btn-primary mb-2" id="calcular-valores">
                    Calcular valores
                </button>
                <button class="btn btn-sm btn-success mb-2" id="calcular-posiciones">
                    Calcular ruta recomendada
                </button>
            </div>
        </div>

        <div class="card p-2 position-absolute shadow d-none" id="select-resource-menu" style="z-index: 1000000">
            <p class="lead">Seleccionar recurso</p>
            <div class="d-grid">
                <button class="btn bg-wood text-white btn-sm mb-1" onclick="setResourceTile('wood')">Madera</button>
                <button class="btn bg-brick text-white btn-sm mb-1" onclick="setResourceTile('brick')">Ladrillo</button>
                <button class="btn bg-sheep text-white btn-sm mb-1" onclick="setResourceTile('sheep')">Oveja</button>
                <button class="btn bg-weath text-white btn-sm mb-1" onclick="setResourceTile('weath')">Trigo</button>
                <button class="btn bg-rock text-white btn-sm mb-1" onclick="setResourceTile('rock')">Roca</button>
                <button class="btn bg-desert btn-sm mb-1" onclick="setResourceTile('desert')">Desierto</button>
                <button class="btn btn-secondary btn-sm" id="cancel">Cancelar</button>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script>
        let selectedTile = null;
        let resourceTiles = new Array(19).fill(null);

        let resourceTilesValues = new Array(19).fill(0);
        let vertexValues = new Array(54).fill(0);

        let tileNumProb = {
            2: 1,
            3: 2,
            4: 3,
            5: 4,
            6: 5,
            7: 6,
            8: 5,
            9: 4,
            10: 3,
            11: 2,
            12: 1
        };

        let resourceValues = {
            'wood': 1,
            'brick': 1,
            'sheep': 1,
            'weath': 1,
            'rock': 1,
            'desert': 0
        };

        const setResourceTile = (resource) => {
            selectedTile.attr('class', function(i, c){
                return c.replace(/(^|\s)bg-\S+/g, '');
            });
            selectedTile.addClass(`bg-${resource}`);
            $('#select-resource-menu').addClass('d-none');

            resourceTiles[Number(selectedTile.attr('id').replace('resource-', ''))] = resource;
        }

        const vertex_tiles = {
            0: [0],
            1: [1],
            2: [2],
            3: [0],
            4: [0, 1],
            5: [1, 2],
            6: [2],
            7: [0, 3],
            8: [0, 1, 4],
            9: [1, 2, 5],
            10: [2, 6],
            11: [3],
            12: [0, 3, 4],
            13: [1, 4, 5],
            14: [2, 5, 6],
            15: [6],
            16: [3, 7],
            17: [3, 4, 8],
            18: [4, 5, 9],
            19: [5, 6, 10],
            20: [6, 11],
            21: [7],
            22: [3, 7, 8],
            23: [4, 8, 9],
            24: [5, 8, 10],
            25: [6, 10, 11],
            26: [11],
            27: [7],
            28: [7, 8, 12],
            29: [8, 9, 13],
            30: [9, 10, 14],
            31: [10, 11, 15],
            32: [11],
            33: [7, 12],
            34: [8, 12, 13],
            35: [9, 13, 14],
            36: [10, 14, 15],
            37: [11, 15],
            38: [12],
            39: [12, 13, 16],
            40: [13, 14, 17],
            41: [14, 15, 18],
            42: [15],
            43: [12, 16],
            44: [13, 16, 17],
            45: [14, 17, 18],
            46: [15, 18],
            47: [16],
            48: [16, 17],
            49: [17, 18],
            50: [18],
            51: [16],
            52: [17],
            53: [18]
        };

        $(document).ready(() => {
            $('.hex').on('click', function(event) {
                if(!event.ctrlKey) {
                    return;
                }
                selectedTile = $(this);
                const menu = $('#select-resource-menu');
                menu.css('top', event.pageY);
                menu.css('left', event.pageX);
                menu.removeClass('d-none');
            });

            $('#cancel').on('click', (event) => {
                $('#select-resource-menu').addClass('d-none');
            });

            $('.resource-value-input').on('input', function() {
                const resource = $(this).attr('resource');
                const value = Number($(this).val());
                resourceValues[resource] = value;
            });

            $('.input-prob').keypress(function(e) {
				let allow_values = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57];
				if (allow_values.indexOf(e.which) == -1) {
					return false;
				}
			});

            $('#load-early').click(() => {
                resourceValues = {
                    'wood': 4,
                    'brick': 4,
                    'sheep': 2,
                    'weath': 2,
                    'rock': 1,
                    'desert': 0
                };

                $('#resource-wood').val(4);
                $('#resource-brick').val(4);
                $('#resource-sheep').val(2);
                $('#resource-weath').val(2);
                $('#resource-rock').val(1);
            });

            $('#load-late').click(() => {
                resourceValues = {
                    'wood': 1,
                    'brick': 1,
                    'sheep': 1,
                    'weath': 2,
                    'rock': 3,
                    'desert': 0
                };

                $('#resource-wood').val(1);
                $('#resource-brick').val(1);
                $('#resource-sheep').val(1);
                $('#resource-weath').val(2);
                $('#resource-rock').val(3);
            });

            $('#calcular-valores').click(() => {
                resourceTiles.forEach((resource, i) => {
                    let tile_value = resourceValues[resource];
                    let tile_prob = Number($(`#prob-${i}`).val());
                    resourceTilesValues[i] = tile_value * tileNumProb[tile_prob]/36;
                });

                for(const [vertex, tiles] of Object.entries(vertex_tiles)) {
                    let sum = 0;
                    tiles.forEach(tile_id => { sum += resourceTilesValues[tile_id] });
                    $(`#vertex-${vertex}`).html(`<strong>${sum.toFixed(2)}</strong>`);
                    vertexValues[vertex] = Math.round((sum + Number.EPSILON) * 100) / 100;
                }
            });

            $('#calcular-posiciones').click(() => {
                $.ajax({
                    url: 'http://localhost:5000/calc-best-positions',
                    type: 'POST',
                    dataType: 'json',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({ prizes: vertexValues }),
                    success: (res) => {
                        let best_positions = res['positions'];
                        for(let i = 0; i < 54; i++) {
                            if(best_positions.includes(i)) {
                                $(`#vertex-${i}`).addClass('vertex-selected');
                            } else {
                                $(`#vertex-${i}`).removeClass('vertex-selected');
                            }
                        }

                        let edges = res['edges'];
                        for(let i = 0; i < 72; i++) {
                            if(edges.includes(i)) {
                                $(`#edge-${i}`).addClass('edge-selected');
                            } else {
                                $(`#edge-${i}`).removeClass('edge-selected');
                            }
                        }
                    },
                    error: (err) => {
                        console.log(err)
                    }
                });
            });
        });
    </script>
</html>